.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  &__first-article {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("../../assets/imgs/webp/13.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 8rem;
    overflow-y: auto;
    @media screen and (max-width: 1023px) {
      display: flex;
      padding: 1rem;
      height: auto;
      gap: 1rem;
    }
    h1 {
      @media screen and (max-width: 1023px) {
        font-size: 2rem;
        text-align: center;
      }
      font-size: 3rem;
      text-align: center;
      font-weight: 600;
      margin: 0;
    }
    p {
      text-align: justify;
      font-size: 1.2rem;
    }

    &__actions {
      display: flex;
      gap: 4rem;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
      button {
        font-size: 1rem;
        padding: 1rem 2rem;
        background: #f9e819;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        &:hover {
          background: white;
          // color: #f9e819;
        }
        i {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    &-title {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &__cards {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      // gap: 1rem;
      // justify-content: center;

      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem; /* espacio entre tarjetas */
      justify-content: center;

      app-card {
        flex: 1 1 calc(33.333% - 1rem); /* 3 por fila */
        max-width: calc(
          33.333% - 1rem
        ); /* evita que se estiren más de lo debido */
      }
      @media screen and (max-width: 1024px) {
        app-card {
          flex: 1 1 calc(50% - 1rem); /* 2 por fila en móvil */
          max-width: calc(50% - 1rem);
        }
      }
      @media screen and (max-width: 600px) {
        app-card {
          flex: 1 1 100%; /* 2 por fila en móvil */
          max-width: 100%;
        }
      }
    }
  }
}
